.county-results-map {
    width: 300px;
    height: 200px;

    background: lightgrey;
}

$PrimaryCountyResults-container: '.county-map';

@import '../../../../node_modules/civic_map-county-primary-results/src/scss/chart-styles';