{% extends 'electionnight/base.html' %}

{% block page-meta %}
<!-- Site URL -->
<meta property="og:url" content="https://www.politico.com/election-results/{{year}}/{{state}}/" />
<link rel="canonical" href="https://www.politico.com/election-results/{{year}}/{{state}}/" />
<!-- Project title -->
<meta property="twitter:title" content="Live {{ year }} {{ state|title }} Election Results" />
<meta property="og:title" content="Live {{ year }} {{ state|title }} Election Results" />
<!-- Project description -->
<meta property="twitter:description" content="See results, maps and live coverage." />
<meta property="og:description" content="See results, maps and live coverage." />
<meta name="description" content="See results, maps and live coverage." />
<!-- Keywords -->
<meta property="og:keywords" content="Live {{ year }} {{ state|title }} Election Results, {{ year }} {{ state|title }} Election Results, Live {{ year }} {{ state|title }}, 2018 election, Live election results" />
{% endblock %}

{% block api %}
<script>
  window.appConfig = {
    api: {
      results: '{{ paths.results }}',
      context: '{{ paths.context }}?format=json',
      timestamp: '{{ paths.timestamp }}',
      geoCounty: '{{ paths.geo_county }}',
      geoDistrict: '{{ paths.geo_district }}',
    },
    stateFips: '{{ division.code }}',
    statePostal: '{{ division.code_components.postal }}',
    stateSlug: '{{ division.slug }}',
    nav: {{nav|safe}},
  };
</script>
{% endblock %}

{% block content %}
<header class="center">
  <div class="share">
     <a href="" class="icon icon-facebook" target="_blank"></a>
     <a href="" class="icon icon-twitter" target="_blank"></a>
     <a class="icon icon-mail" target="_blank"></a>
  </div>
  <h1>{{ year }} {{ state|title }} Election Results</h1>
</header>

<div id="app">
  {% if governor_elections %}
  <section class="results-group">
    <header>
      <h3>Governor</h3>
    </header>
    {% for election in governor_elections %}
    {% if election.votes_table %}
    {% include 'electionnight/results-table.html' %}
    {% endif %}
    {% endfor %}
  </section>
  {% endif %}

  {% if senate_elections %}
  <section class="results-group">
    <header>
      <h3>U.S. Senate</h3>
    </header>
    {% for election in senate_elections %}
    {% if election.vote_table%}
    {% include 'electionnight/results-table.html' %}
    {% endif %}
    {% endfor %}
  </section>
  {% endif %}

  {% if house_elections %}
  <section class="results-list">
    <header>
      <h3>U.S. House</h3>
    </header>
    {% for district, elections in house_elections.items %}
    <section class="results-group">
      <header>
        <h4>{{ district }}</h4>
      </header>
      {% for election in elections %}
      {% if election.votes_table %}
      {% include 'electionnight/results-table.html' %}
      {% endif %}
      {% endfor %}
    </section>
    {% endfor %}
  </section>
  {% endif %}
</div>
{%endblock%}

{% block relative_foot %}
<!-- <script type="text/javascript" src="{{ paths.js }}"></script> -->
{% endblock %}

{% block footer_links %}
<div class="state-links temp">
  <h4>2018 Elections</h4>
  {% for state in nav.states%}
    <div class="link">
      <a href="{{state.link}}">{{state.name}}</a>
    </div>
  {% endfor %}
</div>
{% endblock %}
