{% extends 'electionnight/base.html' %}
{% load tz %}

{% block page-meta %}
<!-- Site URL -->
<meta property="og:url" content="https://www.politico.com/election-results/{{year}}/{{state}}/" />
<link rel="canonical" href="https://www.politico.com/election-results/{{year}}/{{state}}/" />
<!-- Project title -->
<meta property="twitter:title" content="Live {{ year }} {{ state|title }} Election Results" />
<meta property="og:title" content="Live {{ year }} {{ state|title }} Election Results" />
<!-- Project description -->
<meta property="twitter:description" content="See results, maps and live coverage." />
<meta property="og:description" content="See results, maps and live coverage." />
<meta name="description" content="See results, maps and live coverage." />
<!-- Keywords -->
<meta property="og:keywords" content="Live {{ year }} {{ state|title }} Election Results, {{ year }} {{ state|title }} Election Results, Live {{ year }} {{ state|title }}, 2018 election, Live election results" />
{% endblock %}

{% block api %}
<script>
  window.appConfig = {
    api: {
      results: '{{ paths.results }}',
      context: '{{ paths.context }}?format=json',
      timestamp: '{{ paths.timestamp }}',
      geoCounty: '{{ paths.geo_county }}',
      geoDistrict: '{{ paths.geo_district }}',
    },
    stateFips: '{{ division.code }}',
    statePostal: '{{ division.code_components.postal }}',
    stateSlug: '{{ division.slug }}',
    nav: {{nav|safe}},
  };
</script>
{% endblock %}

{% block content %}
<header class="center">
  <div class="share">
     <a href="" class="icon icon-facebook" target="_blank"></a>
     <a href="" class="icon icon-twitter" target="_blank"></a>
     <a class="icon icon-mail" target="_blank"></a>
  <h1>{{ year }} {{ state|title }} Election Results</h1>
    <p class="time"><span class="live">LIVE</span> <span class="results">results</span> last updated <span class="timestamp"><time datetime='{{now|timezone:"America/New_York"|date:"c"}}'>{{ now|timezone:"America/New_York"|date:"N j, Y P" }} EST</time>
</header>

<div id="app">
  {% if governor_elections %}
  <section class="results-group">
    <header>
      <h3>Governor</h3>
    </header>
    {% for election in governor_elections %}
    {% if election.votes_table %}
    {% include 'electionnight/results-table.html' %}
    {% endif %}
    {% endfor %}
  </section>
  {% endif %}

  {% if senate_elections %}
  <section class="results-group">
    <header>
      <h3>U.S. Senate</h3>
    </header>
    {% for election in senate_elections %}
    {% if election.vote_table%}
    {% include 'electionnight/results-table.html' %}
    {% endif %}
    {% endfor %}
  </section>
  {% endif %}

  {% if house_elections %}
  <section class="results-list">
    <header>
      <h3>U.S. House</h3>
    </header>
    {% for district, elections in house_elections.items %}
    <section class="results-group">
      <header>
        <h4>{{ district }}</h4>
      </header>
      {% for election in elections %}
      {% if election.votes_table %}
      {% include 'electionnight/results-table.html' %}
      {% endif %}
      {% endfor %}
    </section>
    {% endfor %}
  </section>
  {% endif %}
</div>
{%endblock%}

{% block relative_foot %}
<script type="text/javascript" src="{{ paths.js }}"></script>
{% endblock %}

{% block footer_links %}
<section class="elex-footer">
  <h4>2018 Elections</h4>
  <ul>
    {% for state in nav.states%}
      <li>
        <a href="{{state.link}}">{{state.name}}</a>
      </li>
    {% endfor %}
  </ul>
  <div class="clear"></div>
</section>
{% endblock %}

{% block utag %}
<script type="text/javascript">
var utag_data = {
  "page_level_1":"interactives",
  "free_paid_content":"free",
  "ad_unit_section":"2018-election",
  "site_section":"elections",
  "page_type":"election results",
  "site_domain":"www.politico.com",
  "internal_site_id":"politico",
  "page_name":"2018 Election:Results:Primary:Main:State:{{state.label}}",
  "content_author":"Tyler Fisher|Sarah Frostenson|Jeremy C.F. Lin|Jon McClure|Lily Mihalik ",
  "content_byline":"By Tyler Fisher, Sarah Frostenson, Jeremy C.F. Lin, Jon McClure and Lily Mihalik ",
};
</script>
{% endblock %}
