.fulfilled {
  display: none;
}

.election-results section.results-list {
  padding-top: 0;
}

.race-table-1820.fifty {
  margin: 0 auto;
  float: none;
}

.live-analysis {
  display: none;
}

div[name='house-anchor'] > header {
  display: none;
}

.jumpto {
  display: none;
}