@import '~politico-style/scss/elections/states/theme/fonts';
@import '~politico-style/scss/base/theme/colors/base';
@import '~politico-style/scss/base/theme/fonts';
@import '~politico-style/scss/base/components/ads';
@import 'sticky-nav';
@import 'fetch-refresh';
@import 'footer-nav';


#app section.introduction, #special-app section.introduction {
  p {
    font-size: 20px;
    line-height: 1.5;
  }
}

td.vote-percent {
  max-width: 20px;
}

td.vote-count{
  text-align: right;
}

table.jungle td {
  font-size: .9rem;

  &.incumbent {
    font-size: 10px;
  }
}

svg.map-hatch-definitions{
  position: fixed;
  bottom: 0;
  pointer-events: none;
}

.county-map .legend .legend-labels .legend-label.tie{
  background: #292929;
}

section.results-list{
  margin-bottom: 2.5rem;
}


section.results-map{
  padding-left: 50px;
  min-height: 350px;
}


.candidate.results-table-row.hidden {
  display: none;
}

.candidate.results-table-row.winner td{
  font-weight: bold;
}

.results-group table tr td.precincts-reporting{
  padding-bottom: 2px;
}

.results-group table tr.total {
  color: #7b7b7b;

  td {
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: none;
    font-size: 13px;
  }
}

.incumbent{
  font-size: 10px;
  color: #7b7b7b;
  border: 0;
  text-align: right;
  padding-bottom: 2px;
}

.results h4 span.runoff{
  display: inline-block;
  background-color: #9e0000;
  padding: 2px 5px;
  margin-left: 10px;
  font-size: 12px;
  color: white;
  vertical-align: top;
  margin-top: 3px;
}

.uncontested{
  font-family: $din;
  font-size: 18px;
  margin-top: 20px;
  border-top: 1px dashed #ddd;
  padding-top: 10px;

  .candidate{
    font-weight: bold;
  }
}

div.share{
  margin-bottom: -5px;
}


.mapContainer .map{
  text-align: center;
  margin-bottom: 20px;
}

section.introduction{
  font-family: Georgia, Times, 'Times New Roman', serif;
  margin: 40px auto;
  max-width: 600px;
  p{
    font-size: 18px;
    line-height: 21px;
  }
}

.row section.results-map{
  @media(max-width: 768px) {
    padding-left: 0;
    .county-map {
      max-width: 350px;
      margin: 0 auto;
    }
  }
}


//table override
section.results-group {
  margin-bottom: 3rem;
}

section.results-list {
  article.jungle {
    width: 50%;
    margin: 0 auto;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

section.results-group header p.subhed {
  margin-top: 0;
  text-align: center;
  font-family: $din;
  margin: -0.25rem auto .5rem;
}

div[name="senate-anchor"], div[name="governor-anchor"] {
  .uncontested {
    width: 45%;
    margin-bottom: 50px;
  }
}

.expand-row {
  cursor: pointer;

  .expand {
    color: #666;

    .show:after {
      content: \u2192;
    }

    .hide:after {
      content: \u2191;
    }
  }
}

@media(max-width: 860px){
  td{
    font-size:1rem;
  }
}

@media(max-width: 768px){
  article.results{
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
  }

  .results-group table{
    padding-right: 0;
  }

  .row section.results-map {
      padding-left: 0;
      margin-bottom: -40px;
  }

  .row section.results-map .county-map {
    margin: 0 auto 4.5em;
  }

  header + section.results-group{
    margin-top: 1rem;
  }

  header + section.results-group h4.district{
    margin-top: 0;
  }

  section.results-group h4.district{
    margin-bottom: 5px;
  }

  .fifty + .fifty{
    padding-top: 10px;
  }

  .uncontested{
    margin-top: 0;
    padding-top: 5px;
    margin-bottom: 30px;
  }

  div[name="senate-anchor"], div[name="governor-anchor"] {
    .uncontested {
      width: 100%;
    }
  }
}

@media(max-width: 600px){
  td{
    font-size:.9rem;
    padding: 10px 5px;

    &.key{
      padding-left: 8px;
    }
  }
  section.results-list section.results-group {
    margin-top: 0rem;
  }

  .header th.winning{
    padding: 0;
    text-align: center;
  }

  td.winning{
    text-align: center;
  }

  .jumpto p > div {
    display: block;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.live-analysis {
  position: fixed;
  bottom: 40px;
  right: 20px;
  background-color: white;
  font-family: $franklin;
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all .2s;
  z-index: 100;

  @media screen and (max-width: 600px) {
    bottom: 10px;
    right: 10px;
  }

  &:hover {
    background-color: #D3D3D3
  }

  p {
    color: black;
  }

  p, .dots {
    display: inline-block;
  }

  .dots {
    background-color: #f6f6f6;
    border-radius: 100px;
    padding: 0 10px;
    vertical-align: sub;
    margin-left: 10px;
  }
  .dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 15px 2px 0;
    background: #d3d3d3;
    animation: a 10s linear infinite;

    &:nth-child(2) {
      animation-delay: .2s;
    }
    &:nth-child(3) {
      animation-delay: .4s;
    }
  }

  @keyframes a {
    0%, 6% {
      transform: none;
      background: #d3d3d3;
    }

    3% {
      transform: translateY(-12px);
      background: #a9a9a9;
    }
  }

  p {
    padding: 0;
    margin: 0;
  }
}

.header th{
    font-size: .8rem;
}

td.candidate{
    letter-spacing: .3px;
}

.live-analysis{
    font-family: $din;
}

.incumbent{
    font-family: $din;
}

td.incumbent{
    line-height:1;
}

.credits{
    font-family: $din;
    padding: 4rem 0 2rem;
    text-align: center;
}

.jumpto a {
  color: black;
}

.jumpto p > div {
  display: inline-block;
}

#global-header .bt-icon--politico {
  font-size: 16px;
  line-height: 46px;
  margin-left: .7em;
  color: $politico-red;

  @media (max-width: 600px) {
    font-size: 12px;
  }
}